/* font-family: 'Lobster Two', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Fredericka the Great', cursive; */

body {
    background:rgb(103, 87, 134);
    background-image: url(../images/fishnets-and-hearts.png);
}


.navbar-brand {
    font-size: 45px;
    margin-right: 40%;
    font-weight: bold;
    text-align: center;
}

.navbar-nav.pull-right {
    float: right;
    margin-right: 98px;
 }

 .navigationRight {
    margin: 0 auto;
 }
 
 .nav-link {
     font-size: 30px;
 }


.breadcrumb {
    background: rgb(103, 87, 134);
}


 .box {
     width: 960px;
     height: 550px;
     margin: 0 auto;
     background:whitesmoke;
     padding: 50px;
 }

 .aboutImg {
     width: 200px;
     height: 250px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }

.text {
    width: 731px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}


 footer {
    border-top: 8px solid rgb(103, 87, 134);
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(214, 214, 214);
    color: #000;
    font-size: 20px;
    font-family: 'Special Elite', cursive;
 }

 .logo {
     padding-top: 20px;
 }